/* SongSearch.css */

body {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
}


/* Base styles */
.app-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.song-search-container {
  padding: 30px;
  
}

.song-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.song-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  color: white;
}

.song-card:hover {
  transform: translateY(-5px);
}

.song-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.song-card div {
  padding: 15px;
}

.song-card h3 {
  margin-top: 0;
  font-size: 18px;
  color: #fff ;
}

.song-card p {
  margin-bottom: 10px;
  font-size: 14px;
}

.audio-control {
  margin-top: 10px;
  max-width: 100%;
}


.search-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* Search bar styles */
.searchBox {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
  margin-bottom: 20px;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 16px 20px;
  width: 100%;
}

.searchButton {
  color: white;
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #2af598 0%, #009efd 100%));
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* Hover effect */
.searchButton:hover {
  background-color: #1a1a1a;
}

/* Button pressing effect */
.searchButton:active {
  transform: translateY(1px);
}

/* New styles for top trending section */
.top-trending-container {
  margin-top: 40px;
}

.top-trending-grid .song-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.top-trending-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

h2{
  color: #fff;
}

.top-trending-grid .song-card:hover {
  transform: none;
}

.top-trending-grid .song-card img {
  border-bottom: none;
}

.top-trending-grid .song-card h3 {
  font-size: 16px;
  color: #fff;
}

.top-trending-grid .song-card p {
  font-size: 12px;
}

.top-trending-grid .audio-control {
  margin-top: 8px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .song-grid, .top-trending-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
